@import url('https://fonts.googleapis.com/css2?family=Allura&family=Dancing+Script:wght@400..700&family=Parisienne&display=swap');
.comentarios {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 40px;
    background-color:#faeddd;

       
}

.comentarios>h1 {
    display: flex;
    position: relative;
    font-family: "Parisienne", cursive;
    font-weight: 700;
    color: #011433;
    font-size: 3rem;
    text-align: center;
    align-items: center;
    
}
.comentarios>h1::before{
    content: "";
    position: absolute;
    height: 200px;
    width: 235px;
    inset: 0;
    background-size: contain;
    z-index: -1;
    opacity: 0.7;
    
    
   
}

.comments-carrossel {
    display: flex;
    flex-wrap: nowrap; /* Impede que os itens quebrem a linha */
    width: 50%;
    padding: 20px;
    justify-content: flex-start;
    
}

.card-comentarios {
    height: 400px;
    margin-right: 15px; /* Espaço entre os cartões */
    padding: 20px;
    background: #011433;
    font-family: 'Rowdies', cursive;
    color: #faeddd;
    border-radius: 24px; /* Bordas arredondadas suaves como na sua foto original */
    box-shadow: 0px 15px 35px rgba(27, 38, 59, 0.15);
    z-index: 2;
    border: 4px solid #d4af37;
     /* Impede que os cartões se estiquem */
    
}
.estados{
    font-size: 15px;
}
.img-estrela{
    width: 100px;
    margin-top: -30px;
}

.comment-p {
    padding-top: 20px;
    color: #faeddd;
    text-align: left;
}

*::-webkit-scrollbar {
    height: 6px;
    width: 6px;
}

*::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: transparent;
}

*::-webkit-scrollbar-track:hover {
    background-color: #B8C0C2;
}

*::-webkit-scrollbar-track:active {
    background-color: #B8C0C2;
}

*::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #d4af37;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: #d4af37;
}

*::-webkit-scrollbar-thumb:active {
    background-color: #d4af37;
} 

@media (max-width: 800px) {
    .comments-carrossel {
        width: 250px;
    }
    .text-comentarios {
        overflow-y: scroll;
        overflow-x: hidden;
        width: 100%;
        height: 110px;
    }

   } 