.youtube-sessao{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding:40px;
    background-color: #fbeede;
    color: #011433;
    
}

.youtube-sessao h1{
    position: relative;
    font-family: 'Cinzel', serif;
    font-size: 3rem;
    text-align: center;
   
}

.youtube-container{
    display: flex;
    flex-direction: column;
    
}

.youtube-videos{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 padding-top: 50px;


}

iframe{
    border-radius: 20px;
}

.button-youtube{
color: #ffffff;
font-weight: 700;
background-color: #011433;
border-radius: 20px;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
width: 250px;
height: 84px;
margin-top: 30px;
margin-bottom: 50px;

}

.button-youtube:hover{
border: none;
color: #011433;
background-color:#a87e14;


}

