.motivacao {
  background-color: #fbeede;
  padding: 50px;
  word-break: break-word;
}

.motivacao > h1 {
  font-family: 'Cinzel', serif;
  font-size: 3rem;
  text-align: center;
}

.motivacao-h1 {
  font-family: 'Cinzel', serif;
  font-size: 3rem;
  text-align: center;
  margin-bottom: 50px;
  color: #011433
}
.container-motivacao{
   display: flex;
   align-items: center;
   justify-content: center;
}

.row-container{
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 justify-content: center;

}

.img-motivacao,
.caption-motivacao {
  display: inline-block;
  padding: 10px;
 
}

.caption-motivacao{
   width: 200px;
     
} 


.img-figura {
  
  box-shadow: 2px 2px 2px 0 #a87e14;
  margin-left: 80px;
  font-family: 'Cinzel', serif;
  font-size: 1.5rem;
 
} 

.div-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}

.button-motivacao {
  color: #ffffff;
  font-weight: 700;
  display: inline-block;
  background-color: #011433;
  
  border-radius: 20px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 250px;
  height: 84px;
  margin-left: 30px;
}

.button-motivacao a {
  text-decoration: none;
  color: #ffffff;
}

.button-motivacao:hover {
  background-color: #a87e14;
  
}
.button-motivacao:hover a {
  color: #ffffff;
}

@media (max-width: 800px) {
  .img-figura {
    margin-right: 80px;
   }
   .row-container{
   
    text-align: center;
   }
}