*{
    margin: 0;
    padding: 0;
}

/* ----- Header ----- */

.header{
    background-color: #fbeede;
    opacity: 0.8;
    width: 100%;
}
 
.div-logo{
    display: flex;
    flex-direction: row;
    gap: 20px;
    line-height: 10px;
    text-align: center;
    align-items: center;
}

.fonte{
    width: 250px;
    padding: 10px;
    
}


.me-auto {
   margin-left:30% ;    
   gap: 20px;
   font-weight: 700;

}

.nav-link{
    color: #011433;
    text-decoration: none;
  
}

.nav-link a{
    text-decoration: none;
    color: #011433;
    
}
.nav-link a:hover{
    text-decoration: none;
    color: #011433;
    
}

.img-sociais{
    width: 50px;
    cursor: pointer;
    
}

.p-sociais{
    font-weight: 700;
    font-size: 14px;
    margin-left: 20px;
}


.nav-link .active {
    text-decoration: none;
    color: #a67e26!important; 
    border-bottom: 2px solid #a67e26!important;
}

.btn-home {
    color: #ffffff;
    font-weight: 600;
    background-color: #a87e14;
    border-radius: 15px;
    width: 7.75rem;
    height: 3.5rem;
    
}

.btn-home a {
    font-size: 1em;
    text-decoration: none;
    color: #ffffff;
}

.btn-home:hover {
    background-color: #ffffff;
   
}

.btn-home:hover a {
    color: #a87e14;
}

@media (max-width: 990px) {
.fonte{
   width: 180px;
   height: 100px;
}
.me-auto{
    background-color: #011433;
    border-radius: 10px;
    text-align: center;
}
.img-sociais{
    width: 70px;
    cursor: pointer;
    
}

}





